.wall {
    transition: all .5s ease-in-out;
    z-index: 2;
    font-size: 8px;
    color: white;
}

.horizontal {
    height: 100%;
    width: 900%;
    background-color: black;
    //border: 2px solid white;
    transform: translateX(-45%);
    border-radius: 5px;
    box-sizing: border-box;
}

.vertical {
    height: 100%;
    width: 900%;
    background-color: black;
    //border: 2px solid white;
    transform: translateX(-45%) rotate(90deg);
    border-radius: 5px;
    box-sizing: border-box;
}

.vertical nav {
    transform: rotate(-90deg);
}

.wall-control {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    width: 26px;
    border-radius: 7px;
    position: absolute;
    top: calc(50% - 13px);
}

.wall-control nav {
    font-size: 20px;
}

.rotate {
    border-radius: 100%;
    border: 1px black solid;
    background-color: white;
    right: calc(50% - 13px);
    color: black;
}

.confirm {
    border: 1px white solid;
    background-color: darkblue;
    right: calc(85% - 13px);
}

.remove {
    border: 1px white solid;
    background-color: darkred;
    right: calc(15% - 13px);
}

.remove .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24
}